:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}


*{
margin: 0;
padding: 0;
}
// html{
// font-size: 12pt;
// font-family: Poppins, Segoe UI, Tahoma, sans-serif;
// }

nav{
height: 60px;
display: flex;
justify-content: flex-end;
align-items: center;
background: var(--clr-light);
padding: 1em;
}
.links-container{
height: 100%;
width: 100%;
display: flex;
gap: 1em;
flex-direction: row;
align-items: center;
}
nav a{
height: 100%;
// padding: 0 20px;
display: flex;
align-items: center;
text-decoration: none;
color: var(--clr-dark);
font-weight: 500;
&:hover{
    border-bottom: 1px solid var(--clr-accent);
}
}
nav .home-link{
margin-right: auto;
}
nav svg{
fill: var(--clr-accent);
}
#sidebar-active{
display: none;
}
.open-sidebar-button, .close-sidebar-button{
display: none;
}
@media(max-width: 450px){
.links-container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background: var(--clr-dark);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
}
nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    color: var(--clr-light);
}
.open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
}
#sidebar-active:checked ~ .links-container{
    right: 0;
}
#sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
}